[Unit]
Description=AQUAFONOMETR Speed Test Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/scr/SPEEDTEST
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 9090 --workers 4 --ssl-certfile cert.pem --ssl-keyfile key.pem
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
